{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>Food Guesser</title>
<meta charset="utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="mobile-web-app-capable" content="yes"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">
    <link rel="stylesheet" href="{% static "css/slider.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <script src="{% static "js/underscore.min.js" %}"></script>
    <script src="{% static "js/jquery-3.1.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <title>
    </title>
</head>

<body>


<div class="jumbotron">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation"><a href="#caloroid" aria-controls="question" role="tab" data-toggle="tab">Caloroid</a></li>
            <li class="" role="presentation"><a href="#leaderboard" aria-controls="" role="tab" data-toggle="tab">Highscores</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="username">
                <div class="contianer-fluid">
                    <div class="col-md-12 main-container" style="margin: auto;">
                         <form>
                            {% csrf_token %}
                            <input class="username" type="text" value="username">Please Enter A Username</input>
                            <input class="btn btn-username-submit" type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="caloroid">
                <div class="container-fluid">
                    <div class="col-md-12 main-container" style="margin: auto;">
                        {% block body_block %}{% endblock %}
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="leaderboard">
                <div class="container-fluid">
                    <div class="col-md-12 main-container" style="margin: auto;">
                    
                        <table class="highscores">
                            <tr>
                                <th>Username</th>
                                <th>Score</th>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/drum.min.js" %}"></script>
<script src="{% static "js/tabs.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>
