{% extends "foodguesser/base/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Guess
{% endblock %}

{% block body_block %}

    <h4>Guess how many calories are in:</h4>

	<img src="http://placehold.it/400x200" class="img-responsive guess-img">

	<div class="slider-container">
		<input
		type="range"
		name="participants"
		min="10"
		max="51"
		value="20"
		>
		<span class="rangeslider__tooltip" id ="range-tooltip"></span>
	</div>

	<form class="form" action="">
	    <button class="btn btn-checkbox-submit skip" type="submit">Next</button>
	</form>

    <script src="{% static 'js/rangeslider.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}