{% extends "foodguesser/base/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Guess
{% endblock %}

{% block body_block %}

    <h4>Guess how many calories are in:</h4>

    <div class="image-div">
	    <img src="http://placehold.it/400x200" class="img-responsive guess-img">
    </div>
    
    <div class="slider-container">
		<input
		class="slider"
		type="range"
		name="participants"
		min="0"
		max="700"
		value="20"
		>
		<!--<span class="rangeslider__tooltip" id ="range-tooltip"></span>-->
	</div>

	<div class="answer-div">
		<span class="answer">Actual: </span>
	</div>

	<div class="score-div">
		<span class="score">Score: </span>
	</div>

	<form>
		{% csrf_token %}
		<button class="btn btn-checkbox-submit skip" type="submit">Guess</button>
		<button class="btn btn-next">Next</button>
	</form>

    <script src="{% static 'js/rangeslider.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock %}
